@model List<EGramWebV2BLayer.Entities.Models.PanelModels.UserMst>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    <p>
        <a asp-action="AddEdit">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Sr No.
                </th>
                <th>
                    Name
                </th>
                <th>
                    Created On
                </th>
                <th>
                    Status
                </th>

            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@(item.UserName)</td>
                        <td>@(item.CreatedDate)</td>
                        <td>@(item.IsActive)</td>
                        <td>
                            <a asp-action="AddEdit" asp-route-id="@item.UserId.ToString()" class="btn btn-sm green action-btn">
                                <i class="fa fa-edit" data-toggle="tooltip" title="edit"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.UserId.ToString()" class="btn btn-sm red action-btn" onclick="return confirm('Are you sure you want to delete this record? Deleted record can not be recovered.');">
                                <i class="fa fa-trash" title="delete"></i>
                            </a>
                        </td>
                    </tr>
                    i++;
                }
            }

            @*@for (int item = 1; item < Model.Count(); item++)
                {
                    <tr>
                        <td>
                            @(item.)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserTypeMst.UserTypeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastPassword)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastPassword1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastPassword2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PasswordAttempt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnlockDate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                        </td>
                    </tr>
                }*@
        </tbody>
    </table>
</body>
</html>
